#main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#player_window{
    background-color: aqua;
    width: 300px;
    height: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#media_visuals{
    
    width: 30px;
    height: 30px;
    background-color: black;
    border: 15px solid rgb(128, 28, 0);
    padding: 50px;
    margin: 20px;
  
}

#now_playing{
    width: 100%; /* Set the width to 100% to make it a horizontal bar */
    height: 20px; /* Adjust the height according to your design */
    background-color: #3498db; /* Choose your desired background color */
    margin-bottom: 10px;

}
