body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #b3c7f7;
}

.container {
    margin: 50px auto;
    max-width: 600px;
    padding: 20px;
    background: #f194b8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    padding: 20px;
}

input, button {
    padding: 10px;
    font-size: 16px;
    margin: 5px;
}

.results {
    margin-top: 20px;
}

.cocktail {
    margin-bottom: 20px;
    border-bottom: 2px solid #b9e192;
}

.cocktail img {
    border-radius: 25px;
    padding: 0px;
    width: 200px;
    box-shadow: 0 0 10px white;
}

.cocktail ul {
    list-style-type: none;
    padding-left: 0;
}
